NODE_ENV=development
PORT=10000

KASA_DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
KASA_DB_PORT=4000
KASA_DB_NAME=kasa_ilaya_resort
KASA_DB_USER=eQfcAgSY3oCC2Cw.root
KASA_DB_PASS=CHANGE_ME

FRONTEND_URL=http://localhost:5173
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=7d
